body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(19,25,33);
    justify-content: space-between;
    gap:20px;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.logo{
    width: 90px;
}
.mid{
    flex: 1
}

.in-srch-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px; 
    background-color: whitesmoke;
    border-radius: 5px;
    justify-content: space-between;
    
}

input{
    padding: 5px 10px 5px 10px;
    height: 100%;
    border: none;
    background-color: transparent;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
}
input:focus{
    outline:2px solid rgb(254, 189, 105);
}
.search-cont{
    background-color:rgb(254, 189, 105) ;
    border: none;
    height: 100%;
    padding: 10px 12px 10px 12px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.srch{
    width:20px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    justify-content: center;
}

.returns-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
     border:1px solid rgb(19,25,33);
    color:white;
    height: 32px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.returns-div:hover{
    border:1px solid white;
}

.cart{
    display: flex;
    height: 32px;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    border:1px solid rgb(19,25,33);
}
.cart:hover{
    border:1px solid white;
}
.cart-icon{
    width: 45px;
    object-fit: contain;
}
.cart p{
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 53px;
}

.cart strong{
    color: white;
    font-size: 14px;
}