body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(19,25,33);
    justify-content: space-between;
    gap:20px;
    padding: 5px 20px 5px 20px;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.logo{
    width: 80px;
    object-fit: contain;
}
.mid{
    flex: 1;
    max-width: 800px;
}

.in-srch-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px; 
    background-color: whitesmoke;
    border-radius: 5px;
    justify-content: space-between;
    
}

input{
    padding: 5px 10px 5px 10px;
    height: 100%;
    border: none;
    background-color: transparent;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
}
input:focus{
    outline:2px solid rgb(254, 189, 105);
}
.search-cont{
    background-color:rgb(254, 189, 105) ;
    border: none;
    height: 100%;
    padding: 10px 12px 10px 12px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.srch{
    width:20px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    justify-content: center;
}

.returns-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
     border:1px solid rgb(19,25,33);
    color:white;
    height: 32px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.returns-div:hover{
    border:1px solid white;
}

.cart{
    display: flex;
    height: 32px;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    border:1px solid rgb(19,25,33);
}
.cart:hover{
    border:1px solid white;
}
.cart-icon{
    width: 45px;
    object-fit: contain;
}
.cart div{
    display: flex;
    width:20px;
    justify-content: center;
    align-items: center;
    color: rgb(240, 136, 4);
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 47px;
    top:10px
}

.cart strong{
    color: white;
    font-size: 14px;
}


/*PRODUCTS*/
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:1px;
    background-color: rgba(204, 204, 204,0.7);
    
}
.img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-bottom: 10px;
    
}
.prod-img{
    width: 100%;
    height:100%;
    object-fit:contain;
}
.rating{
    width: 100px;
    object-fit: contain;
}

.rr{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 8px;
    
}
.rr p{
    color:#017cb6;
}
.prod{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px 20px 20px 20px;

    background-color: white;
}
.bot{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p, img,select{
    font-size: 16px;
    margin:0;
    color:rgb(19,25,33)
}
.prod-name{
height: 35px;
}

.prod button{
    padding: 10px;
    border:none;
    background-color: rgba(247, 202, 0,0.8);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    color: rgb(19,25,33);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.prod button:hover{
    background-color: rgba(247, 202, 0,1);
}
.prod-price{
    font-weight: bold;
}
select{
    width: 50px;
    padding: 5px 10px 5px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 14px;
}
.alert{
    height:25px;
    display: flex;
    margin:10px 0 10px 0;
    gap: 5px;
    align-items: center;
    font-size: 14px;
}